@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&family=Raleway:ital,wght@1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  background: url(background.jpg) no-repeat -30rem center fixed;
  background-size: cover;
}

body {
  display: flex;
  font-family: 'PT Sans Narrow', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #303030;
}

input, label {
  display:block;
}

label {
  text-transform: uppercase;
}

input {
  border: 1px solid #EEEEEE;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 16px;
  height: 2rem;
  padding-left: 0.275rem;
  border-radius: 4px;
  margin-top: 0.2rem;
  background-color: #fffbfb;
}

input[type=password] {
  margin-bottom: 0;
}

input:focus {
  -webkit-box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.3); 
  box-shadow: 2px 2px 5px -1px rgba(0,0,0,0.3);
  outline: none;
  border: 1px solid #FBCA25;
}

#password-container::after {
  content: attr(data-content) "";
  color: #e02121;
}

h1 {
  font-weight: 400;
  font-size: 36px;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    column-gap: 4rem;
}

fieldset div {
  width: 35%
}

input[type=submit] {
  background-color: #FBCA25;
  width: 14rem;
  height: 3rem;
  color: white;
  margin-top: 2rem;
  font-size: 20px;
  font-weight: 600;
  border-radius: 7px;
  border: none;
  outline: none;
  box-shadow: 4px 4px 5px -1px rgba(0,0,0,0.1);
}

.footer a {
  color: #FBCA25;
  text-decoration: none;
  font-weight: 900;
}


.br-small {
  display: block;
  margin-bottom: -1rem;
}

.form-container {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  height: 100vh;
  width: clamp(35rem, 65%, 90rem);
  background-color: #f3f3f3;
}

.photo-container {
  display: flex;
  flex: 1 1 auto;
  background: rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.logo-bg {
  display: flex;
  align-items: center;
  position: absolute;
  top: 12rem;
  left: -10rem;
  width: 60vw;
  height: 15rem;
  background: #f6b448;
  background-image: linear-gradient(
    240deg,
    hsl(55deg 100% 50%) 0%,
    hsl(53deg 99% 51%) 11%,
    hsl(51deg 98% 53%) 22%,
    hsl(49deg 97% 54%) 33%,
    hsl(47deg 96% 56%) 44%,
    hsl(45deg 95% 57%) 56%,
    hsl(43deg 94% 58%) 67%,
    hsl(41deg 93% 60%) 78%,
    hsl(39deg 92% 61%) 89%,
    hsl(37deg 91% 62%) 100%
  );
  transform: rotate(-4deg);
}

img[src^="jslogo"] {
  height: 70%; 
  padding-left: 200px;
}

.footer {
  background-color: #f3f3f3;
  height: 100%;
  padding-left: 4rem;
}

.cta h1 {
  padding-top: 10vh;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4vh;
  max-width: 58rem;
}

.photo-container h1 {
  color: white;
  font-family: raleway, Arial, Helvetica, sans-serif;
  font-weight: 800px;
  font-size: 80px;
  padding-left: 2.2rem;
}

.form-input-container {
  background-color: #FFFFFF;
  height: 100%;
  padding-top: 2vh;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 4vh;
  box-shadow: 3px 3px 7px -1px rgba(0,0,0,0.1);
  z-index: 1;
}

.form-input-container h1 {
  padding-bottom: 3vh;
}

.footer > div {
  font-size: 20px;
  margin-top: 2rem;
}

@media only screen and (max-width: 1150px) {
  .logo-bg {
    flex-direction: column;
    align-items: flex-start;
    top: 20%;
    left: -10rem;
    width: 60vw;
    height: 15rem;
    }

  .photo-container h1 {
    font-size: 50px;
    padding-left: 14rem;
  }  
  
  img[src^="jslogo"] {
    height: 70%; 
    padding-top: 1.5rem;
    padding-left: 13.5rem;
  }
}


@media only screen and (max-width: 800px) {
  .form-container {
    width: 100%;
    height: calc(100vh - 225px);
    flex: 0 1 auto;
  }

  .photo-container {
    height: 225px;
    display: flex;
  }

  .photo-container h1 {
    font-size: 50px;
    padding-left: 12.8rem;
  }

  body {
    flex-direction: column;
    align-items: stretch;
    
  }

  html {
    background-position: -28rem -90rem;
    background-size: auto;
  }
  .cta h1 {
    padding-top: 3vh;
  }

  fieldset div {
    width: 70%
  }

  input {
    width: 100%;
  }

  .logo-bg {
    top: -15px;
    height: 20rem;
    width: 22rem;
  }

  img[src^="jslogo"] {
    height: 11.25rem; 
    padding-top: 2.2rem;
    padding-left: 12.2rem;
  }
}

@media only screen and (max-width: 500px) {
  .cta h1 { 
    font-size: 28px;
  }
}